{{extend '../layout.html'}}
{{block 'title'}}
    用户信息修改页面
{{/block}}
{{block 'main'}}
{{include '../common/nav.html'}}
<div class="container">

    <h1 style="text-align: center;">个人信息修改</h1>
    {{if(message)}}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>警告信息</strong>&nbsp;&nbsp;{{message}}
    </div>
    {{/if}}
    {{if(user)}}
    <h2 style="text-align: center;">id:&nbsp;{{user&&user.id}}</h2>
    {{/if}}
    <form action="{{link}}" method="post">
        <div class="form-group">
            <label for="">用户名</label>
            <input type="text" class="form-control" name="username" value="{{user&&user.username}}">
        </div>
        <div class="form-group">
            <label for="">邮箱</label>
            <input type="email" class="form-control" name="email" value="{{user&&user.email}}">
        </div>
        <div class="form-group">
            <label for="">密码</label>
            <input type="password" class="form-control" name="password" placeholder="请输入您的密码" >
        </div>
        <div class="form-group">
            <label for="">角色</label>
            <select name="role" class="form-control">
                <option value="normal" {{user&&user.role=='normal'?'selected':''}}>普通用户</option>
                <option value="admin" {{user&&user.role=='admin'?'selected':''}}>超级管理员</option>
            </select>            
        </div>
        <div class="form-group">
          <label for="">状态</label>
          <div class="form-group">
            <select class="form-control" name="status" >
              <option value="0" {{user&&user.status=='0'?'selected':''}}>启用</option>
              <option value="1" {{user&&user.status=='1'?'selected':''}}>禁用</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-success">{{button}}</button>
    </form>
</div>
{{/block}}
{{block 'js'}}

{{/block}}