{{extend '../layout.html'}}
{{block 'title'}}
    文章信息修改页面
{{/block}}
{{block 'main'}}
<div class="container">

    <h1 style="text-align: center;">文章信息修改</h1>
    {{if(message)}}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>警告信息</strong>&nbsp;&nbsp;{{message}}
    </div>
    {{/if}}
    {{if(user)}}
    <h2 style="text-align: center;">id:&nbsp;{{user&&user.id}}</h2>
    {{/if}}
    <form  action="/admin/article-add" method="post" enctype="multipart/form-data">
        <!-- 
            enctype 指定表单数据的编码类型
                application/x-www-form-urlencoded
                name=zhangsan&age=20
                multipart/form-data 将表单数据编码成二进制类型

         -->
        <div class="form-group">
            <label for="">标题</label>
            <input type="text" class="form-control" placeholder="请输入文章标题" name="title">
        </div>
        <div class="form-group">
            <label for="">作者</label>
            <input type="text" class="form-control" readonly name="author" value="{{@userInfo._id}}">
        </div>
        <div class="form-group">
            <label for="">发布时间</label>
            <input type="date" class="form-control" name="publishDate">
        </div>
        <div class="form-group">
            <label for="exampleInputFile">文章封面</label>
            <input type="file" class="form-eontrol" name="cover" id="file" multiple>
            <!-- multiple 允许用户一次性选择多个文件 -->
            <div class="thumbnail-waper">
                <img class="img-thumbnail" src="" alt="" id="preview">
            </div>
        </div>
        <div class="form-group">
          <label for="">内容</label>
            <textarea class="form-control" name="content" id="editor"></textarea>
        </div>
        <button type="submit" class="btn btn-success">添加</button>
    </form>
</div>
{{/block}}
{{block 'js'}}
<script>
    // 选择上传控件
     var file = document.querySelector('#file')
     var preview = document.querySelector('#preview')
     
     file.onchange = function(){
        // 1、创建文件读取对象
        var reader = new FileReader()
            // console.log(this.files[0])
        //用户选择的文件列表
            // 2、读取对象
            reader.readAsDataURL(this.files[0]);
            // 3、监听
            reader.onload = function(){
                console.log(reader.result)
                // 将文件读取的结果显示在页面中
                preview.src = reader.result
            }
     }
</script>
{{/block}}