{{extend '../layout.html'}}
{{block 'title'}}
    文章信息修改页面
{{/block}}
{{block 'main'}}
<div class="container">

    <h1 style="text-align: center;">文章信息修改</h1>
    {{if(message)}}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>警告信息</strong>&nbsp;&nbsp;{{message}}
    </div>
    {{/if}}
    {{if(user)}}
    <h2 style="text-align: center;">id:&nbsp;{{user&&user.id}}</h2>
    {{/if}}
    <form  method="post" action="/admin/article-add" method="post">
        <!-- 
            enctype 指定表单数据的编码类型
                application/x-www-form-urlencoded
                name=zhangsan&age=20
                multipart/form-data 将表单数据编码成二进制类型

         -->
        <div class="form-group">
            <label for="">标题</label>
            <input type="text" class="form-control" placeholder="请输入文章标题" name="title">
        </div>
        <div class="form-group">
            <label for="">作者</label>
            <input type="text" class="form-control" readonly name="author">
        </div>
        <div class="form-group">
            <label for="">发布时间</label>
            <input type="date" class="form-control" name="publishDate">
        </div>
        <div class="form-group">
            <label for="exampleInputFile">文章封面</label>
            <input type="file" class="form-eontrol" name="cover" >
            <div class="thumbnail-waper">
                <img class="img-thumbnail" src="" alt="">
            </div>
        </div>
        <div class="form-group">
          <label for="">内容</label>
            <textarea class="form-control" name="content" id="editor"></textarea>
        </div>
        <button type="submit" class="btn btn-success">添加</button>
    </form>
</div>
{{/block}}
{{block 'js'}}

{{/block}}