{{extend '../layout.html'}}
{{block 'title'}}
博客后台登陆页面
{{/block}}

{{block 'main'}}
{{include '../common/nav.html'}}
<div class="container">
    <h1 style="text-align:center">博客后台登陆页面</h1>
    <hr>

    <div class="row">

        <div
            class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
            <form action="/admin/login" method="post" id="loginForm">
                <div class="form-group">
                    <label for="">邮箱</label>
                    <input type="email" name="email" class="form-control" placeholder="请输入账号">
                </div>
                <div class="form-group">
                    <label for="">密码</label>
                    <input type="password" name="password" class="form-control" placeholder="请输入密码">
                </div>
                <button type="submit" class="btn btn-primary">登陆</button>
            </form>
        </div>

    </div>



</div>
{{/block}}

{{block 'js'}}
<script>
    $("#loginForm").on('submit', function () {
        // 阻止表单默认提交行为
        // [{name:'email',value:'用户输入的内容'}]
        var result = serializeToJson($(this))
        if (result.email.trim().length == 0) {
            // 如果用户没有输入邮件地址的话 阻止程序向下执行
            alert('请输入邮箱地址')
            return false
        }
        if (result.password.trim().length == 0) {
            // 如果用户没有输入密码的话 阻止程序向下执行
            alert('请输入密码')
            return false
        }
    })
</script>
{{/block}}