{{extend '../layout.html'}}
{{block 'title'}}
    用户信息修改页面
{{/block}}
{{block 'main'}}
<div class="container">

    <h1 style="text-align: center;">个人信息修改</h1>
    {{if(message)}}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>警告信息</strong>&nbsp;&nbsp;{{message}}
    </div>
    {{/if}}
    <form action="/admin/user-edit" method="post">
        <div class="form-group">
            <label for="">姓名</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
            <label for="">邮箱</label>
            <input type="email" class="form-control" name="email" >
        </div>
        <div class="form-group">
            <label for="">密码</label>
            <input type="password" class="form-control" name="password" placeholder="请输入您的密码">
        </div>
        <div class="form-group">
            <label for="">角色</label>
            <select name="role" class="form-control">
                <option value="normal">普通用户</option>
                <option value="admin">超级管理员</option>
            </select>            
        </div>
        <div class="form-group">
          <label for="">状态</label>
          <div class="form-group">
            <select class="form-control" name="status" >
              <option value="0">启用</option>
              <option value="1">禁用</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-success">添加</button>
    </form>
</div>
{{/block}}
{{block 'js'}}

{{/block}}