{{extend '../layout.html'}}
{{block 'title'}}
    博客用户主页
{{/block}}
{{block 'aside'}}
<aside>
  <ul>
      <li><a class="btn btn-success {{currentLink == 'user'?'active':''}}" href="/admin/user">
          <span class="glyphicon glyphicon-user"></span>
          用户管理
      </a></li>
      <li><a class="btn btn-primary {{currentLink == 'article'?'active':''}}" href="/admin/article">
          <span class="glyphicon glyphicon-user"></span>
          文章管理
      </a></li>
  </ul>
</aside>
{{/block}}
{{block 'main'}}
    <h2 style="text-align: center;">{{userInfo.username?userInfo.username:'用户名不存在'}}</h2>
    <a href="/admin/user-edit" class="btn btn-large btn-block btn-success">添加用户</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>用户名</th>
                <th>邮箱</th>
                <th>角色</th>
                <th>状态</th>
                <th>编辑</th>
            </tr>
        </thead>
        <tbody>
            {{each users}}
            <tr>
                <td>{{$value.username}}</td>
                <td>{{$value.email}}</td>
                <td>{{$value.role}}</td>
                <td>{{$value.status==0?'启用':'禁用'}}</td>
                <td>
                    <span>
                        <a  class="btn btn-success" href="/admin/user-edit?id={{$value.id}}" role="button">编辑</a>
                        <!-- <a  class="btn btn-danger" href="#" role="button">删除</a> -->
                        <button type="button" class="delete btn btn-danger" data-toggle="modal" data-target="#deleteModel" data-id="{{$value.id}}">
                          删除
                        </button>
                    </span>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <nav aria-label="Page navigation" style="text-align: center;">
        <ul class="pagination">
          <li>
            {{if (page == 1)}}
            <a href="javascript:void(0);" aria-label="Previous" style="background-color: #999999;" >
                <span aria-hidden="true">&laquo;</span>
              </a>
            {{else}}
            <a href="/admin/user?page={{page-1}}" aria-label="Previous" >
              <span aria-hidden="true">&laquo;</span>
            </a>
            {{/if}}
          </li>
          {{each totalArray}}
          <li><a href="/admin/user?page={{$value}}">{{$value}}</a></li>
          {{/each}}
          <li>
              {{if(page == max)}}
              <a href="javascript:void(0)" aria-label="Next" style="background-color: #999999;">
                <span aria-hidden="true">&raquo;</span>
              </a>
              {{else}}
              <a href="/admin/user?page={{page+1}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
              {{/if}}
          </li>
        </ul>
      </nav>      
      <!-- Modal -->
      <div class="modal fade" id="deleteModel" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <form action="/admin/delete" method="get">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title">请确认</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <p>您确定要删除这个用户吗</p>
              <input type="hidden" name="id" id="delteUserId">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
              <button type="submit" class="btn btn-primary">确定</button>
            </div>
          </div>
        </form>
        </div>
      </div>
    
{{/block}}
{{block 'js'}}
<script>
    $('.delete').on('click',function(){
      const id = $(this).attr('data-id')
      // 获取到user 的id
      $("#delteUserId").val(id)
      // 将获取的用户id放在隐藏域中
    })
</script>
{{/block}}