<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学生信息列表页面</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./main.css">
</head>
<body>
    
    <div class="container">
        <h1 style="text-align: center;">学生信息列表页面</h1>
        <a href="/add" type="button" class="btn btn-large btn-block btn-success">添加学生</a> 
      <table class="table table-striped table-hover">
          <thead>
              <tr>
                  <th>姓名</th>
                  <th>年龄</th>
                  <th>性别</th>
                  <th>邮箱</th>
                  <th>爱好</th>
                  <th>学院</th>
                  <th>创建日期</th>
                  <th>操作</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>小明</td>
                  <td>16</td>
                  <td>男</td>
                  <td>757549654@qq.com</td>
                  <td>
                      <span>跳舞</span>
                      <span>唱歌</span>
                  </td>
                  <td>江西现代</td>
                  <td>1998-01-02</td>
                  <td>
                        <a class="btn btn-success" href="#" role="button">编辑</a>
                        <a class="btn btn-danger" href="#" role="button">删除</a>
                  </td>
              </tr>
          </tbody>
      </table>
      
        
    </div>
    
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
</body>
</html>