{{extend '../layout.html'}}
{{block 'title'}}
博客首页
{{/block}}
{{block 'main'}}
{{include '../common/nav.html'}}
<h1>{{article.title}}</h1>
<span>{{article.author.username}}</span>|<span>{{dateFormate(article.publishDate,'yyyy-mm-dd')}}</span>
<img src="{{article.cover}}" alt="{{article.title}}">
<div>
    {{article.content}}
</div>
{{each comments}}
<div>
    <span>{{$value.uid.username}}</span>|
    <span>{{dateFormate($value.time,'yyyy-mm-dd')}}</span>
    <span>{{$value.content}}</span>
</div>
{{/each}}
{{if userInfo}}
<h4>评论</h4>
<form action="/home/comment" method="post">
    <textarea name="" id="" cols="30" rows="10" name="content"></textarea>
    <input type="hidden" name="uid" value="{{@userInfo._id}}">
    <input type="hidden" name="aid" value="{{@article._id}}">
    <div>
        <input type="submit" value="提交">
    </div>
</form>
{{else}}
<h2>先进行登录，再对文章进行评论</h2>
{{/if}}
{{/block}}
{{block 'js'}}

{{/block}}